$white: hsl(0, 0%, 100%);
$black: hsl(0, 2%, 13%);
$gray: hsl(0, 4%, 50%);

// background gradient
$red:hsl(357, 100%, 30%);
$pink:hsl(310, 100%, 30%);
$blue:hsl(242, 100%, 30%);
$sky-blue: hsl(180, 100%, 30%);
$green:hsl(125, 100%, 30%);
$yellow:hsl(60, 100%, 30%);
$orange:hsl(30, 100%, 30%);

body{
	margin:0px;
	font-family: 'Cinzel', serif;
}

header{
	background: linear-gradient(45deg, $red, $pink, $blue, $green, $yellow);
	background-size: 300%;
	animation: backgroundgradient 30s ease infinite;
}

.wrapper {
	background-image: url('https://res.cloudinary.com/dnroo3j7p/image/upload/v1558543288/Before-I-Die_fjkjnf.jpg');
  background-repeat: no-repeat;
	background-size: cover;
}

.wrapper::before {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to right,rgba(0,0,0,.65),rgba(0,0,0,.65) );
}

.container {
	position: relative;
}

.nav {
  border-bottom: 1px solid #EAEAEB;
	text-align: right;
	margin-top: -10px;
}

.menu a {
	position: relative;
	z-index: 1;
  clear: right;
  text-decoration: none;
  color: $white;
  margin: 0 40px 0 0;
	line-height: 70px;
	font-size: 20px;
}

.bgcolor{
	background-color: rgba(255, 255, 255, 0.288);
	margin: 20px 20px 0 20px;
	border: 2px solid rgba(0, 255, 0, 0.13);
}

label {
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none;
  width: 26px;
	float: right;
	color: $white;
}

#pure {
  display: none;
}

.qoute{
	position: relative;
	display:inline;
	top: 35px;
	padding: 20px;
	font-size: 20px;
	color:$white;
	text-transform: uppercase;
}


main{
	height:100vh;
	width:100%;
}

.maip{
	color:$white;
	text-align:center;
	font-size:30px;
	font-weight:bold;
	margin: 80px 0;
	text-transform: capitalize;
}

.abh{
	font-size: 20px;
	margin-bottom: 0;
	color:$white;
	padding: 30px 20px;
}


.about{
	color:$white;
	font-size: 40px;
	padding: 10px 0 0 20px;
	margin: 24px 0px 0px 0px;
}

.bid{
	color:$white;
	text-align:center;
	font-size: 50px;
	margin-bottom: 60px;
}

.formofwish{
	display: grid;
	place-items: center;
}

.put{
	text-align: center;
	color: $white;
	display:block;
	width:30%;
	padding: 20px 10px;
	margin: 8px 0px;
	border:none;
	outline:none;
	border-bottom:3px solid $sky-blue;
	background: black;
	opacity: 0.8;
	margin-bottom:30px;
}

.put:focus{
	box-shadow: 0 0 10px 4px #34495e;
}

::placeholder{
	color:$white;
	padding: 10px;
	opacity:0.4;
	font-size: 20px;
}

.btn{
	width:31.7%;
	height:50px;
	font-size: 30px;
	text-transform: uppercase;
	border: 0;
	color: rgb(0, 0, 0);
	border-radius: 10px;
	cursor: pointer;
}

// footer

footer{
	position: relative;
	z-index: 1;
	background: linear-gradient(45deg, $red, $pink, $blue, $green, $yellow);
	background-size: 300%;
	animation: backgroundgradient 30s ease infinite;
}

@keyframes backgroundgradient{
	0%{background-position: 0% 100%;}
	50%{background-position: 100% 200%;}
	100%{background-position: 0% 100%;}
}

.fdiv{
	padding: 10px 0 20px 45px;
}

.fcards{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
}

.footer-form{
	max-width: 40%;
	margin-left: 30px;
}

.footer-input{
		width: 100%;
		margin: 5px 0;
		border: 0;
		background: black;
		opacity: 0.8;
		padding: 10px 20px;
		outline: none;
		color: #ddd;
	}

.footer-input:focus {
		box-shadow: 0 0 10px 4px #34495e;
	}

textarea {
		resize: none;
		height: 120px;
	}

.footer-btn {
		border: 0;
		background: #34495e;
		color: #fff;
		padding: 12px 50px;
		border-radius: 20px;
		cursor: pointer;
		margin: 20px 0;
	}

.symbols{
	color: $white;
	margin: 20px 0 30px 15px;
}

.fh1{
	color:$white;
	margin:0px 0 10px 28px;
	text-transform: capitalize;
	padding: 20px 0 0 0;
}

h3{
	font-size: 40px;
	color: $white;
	margin: 10px 0 40px 0;
}

.fa-phone:before {
	content: "\f095";
	margin: 20px;
	font-size:25px;
}

.fa-yahoo:before {
	content: "\f19e";
	margin: 20px;
	font-size:25px;
}
	
.fa-instagram:before {
	content: "\f16d";
	margin: 20px;
	font-size:25px;
}

.fa-facebook-f:before, .fa-facebook:before {
	content: "\f09a";
	margin: 20px;
	font-size:25px;
}

/*page response codes*/

.grid-card {
	padding: 3rem;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.item {
	font-family: Times, serif;
	font-size:22px;
	width: 200px;
  height: 100px;
  background-color:#ffffff;
 	margin: 10px;
  border-radius: 20px;
  text-align: center;
  padding-top: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fa-facebook:hover {
	cursor: pointer;
	color: hsl(238, 100%, 35%);
}

.fa-instagram:hover {
	cursor: pointer;
	color: #ff6600;
}

.fa-yahoo:hover {
	cursor: pointer;
	color: hsl(268, 82%, 21%);
}
.fa-phone:hover {
	cursor: pointer;
	color: hsl(120, 85%, 35%);
}

@media only screen and (max-width: 800px) {
  label{
    display: block;
		cursor: pointer;
}
.fdiv{
	padding: 20px 20px 20px 95px;
}
.symbols{
	padding: 20px 20px 20px 80px;
}
.fh1{
	font-size: 21px;
	margin:0px 0 10px 35px;
	padding: 20px 0 0 0;
}
.footer-btn {
	margin: 20px 0 0 20px;
}
.abh{
	font-size: 20px;
	margin-bottom: 0;
	color:$white;
	padding: 30px 20px;
}
.maip{
	font-size: 18px;
}
.bid{
	font-size: 50px;
}
.qoute{
	top: 23px;
	font-size: 15px;
}
.put{
	width: 50%;
	margin: 10px 5px;
	padding: 10px 5px;
}
.btn{
	font-size: 15px;
	width: 20%;
	border-radius: 35px;
}
::placeholder{
	font-size: 15px;
}
.nav{
	border: none;
	margin-top: -20px;
}
header{
	height: 70px;
}
.menu {
    text-align: center;
    width: 100%;
		display: none;
}
.menu a {
		border: 2px solid $blue;
		color:$black;
    display: block;
		margin: 0;
		background-color: $white;
}	
#pure:checked + .menu {
    display: block;
	}
	.about{
		color:$white;
		font-size: 25px;
		padding: 30px 0 10px 25px;
		margin: 0;
	}
	.symbols{
		color: $white;
		margin: 20px 0 30px 15px;
	}
	.fcards{
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	}
	.grid-card {
		padding: 2rem;
		grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
	}
	.item {
		font-size:20px;
		width: 120px;
		height: auto;
		margin: 10px;
	}
}



@media only screen and (max-width: 375px){
	.fcards{
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	}	
	.qoute{
		font-size: 12px;
	}
	.bid{
		font-size: 30px;
	}
	::placeholder{
		padding: 0px;
		font-size: 15px;
	}

}